@import "fonts.css";
@import "theme.css";
@import "reset.css";

body {
    font-family: "Atkinson", sans-serif;
    text-align: left;
    color: rgb(var(--gray-dark));
    font-size: 1rem;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}