---
import Image from "astro/components/Image.astro";
import Background from "../components/Background.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import me from "../images/pic.jpg";
import Gallery from "../components/Gallery.astro";
import Socials from "../components/Socials.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Background>
            <main class="portfolio">
                <Socials class="portfolio__social" />
                <section class="portfolio__content">
                    <header>
                        <div class="frame">
                            <Image src={me} alt="image of Ajit" class="pic" />
                        </div>
                        <h1 class="title">Hola, I am Ajit 👋</h1>
                    </header>
                    <article>
                        <p class="prose">
                            I am a fullstack web developer based in the
                            beautiful city of Madrid. I spend my days turning
                            ideas into smooth, useful web experiences. With a
                            background in frontend, I’ve grown into full-stack
                            development and found a real passion for building
                            unique, challenging products that make a meaningful
                            impact.
                        </p>
                    </article>
                    <div class="gallery">
                        <Gallery />
                    </div>
                </section>
            </main>
        </Background>
    </body>
</html>

<style scoped>
    h1 {
        font-weight: 500;
        margin-bottom: 0.5em;
        font-size: clamp(1rem, 1rem + 0.33dvw, 1.5rem);
    }
    p {
        margin-bottom: 0.5em;
        font-size: clamp(0.8rem, 0.8rem + 0.33dvw, 1.2rem);
    }
    .portfolio {
        width: 64ch;
        max-width: calc(100% - 5em);
        margin: auto;
        padding: 2em;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 1em;
    }
    .portfolio__content {
        align-self: center;
    }
    .frame {
        margin-bottom: 1em;
    }
    .frame .pic {
        height: clamp(30px, 10dvh, 80px);
        width: auto;
    }
    .gallery {
        margin: 3em 0 1em;
    }
</style>
