---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <header>
                <p class="greeting">Hola,</p>
                <h1 class="title">I am Ajit.</h1>
            </header>
            <section>
                <p class="prose">
                    I am a fullstack web developer based in the beautiful city
                    of Madrid. I spend my days turning ideas into smooth, useful
                    web experiences. I started out in frontend, moved into
                    fullstack, and love working on products that actually help
                    people.
                </p>
                <p class="prose">
                    When I'm not coding, you'll find me sketching, hunting down
                    great food, or exploring somewhere new.
                </p>
            </section>
        </main>
    </body>
</html>

<style scoped>
    h1 {
        font-size: 1em;
        font-weight: 500;
    }
    h1,
    p {
        margin-bottom: 0.5em;
    }
    main {
        width: 42ch;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        height: 100dvh;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    .greeting,
    .title {
        display: inline-block;
    }
</style>
